@media all and (max-width: 992px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.main {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 90vh;
    background: transparent url('assets/img/bg.png') 0% 0% no-repeat padding-box;
    overflow-x: hidden;
}
.container{
    width: 92%;
    margin: auto;
}
.hero{
    padding-top: 20%
}
.hero h1{
    width: 80%;
    font: normal normal 800 50px/60px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF; 
}
.hero p{
    width: 80%;
    font: normal normal normal 14px/21px Poppins;
    color: #FFFFFF;
    padding-top: 20px
}

.form-part{
    background-color: #FFFFFF;
    height: 150px;
    position: relative;
    top: -100px;
    left: 0;
    z-index: 2;
    width: 98%;

}
button {
    width: 51px;
    height: 51px;
    background: #5863F8 0% 0% no-repeat padding-box;
    border: 0;
    margin-bottom: 20px;
    margin-left: -40px
}
input{
    width: 260px;
    height: 50px;
    display: block ;
    margin-right: 30px;
    background-color: #eee;
    border: 0;
}
input[type=text]::placeholder{
    padding-left: 20px
}

.fa-paper-plane{
    margin: 0 auto;
    color: #FFFFFF;

}
form {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-top: 25px;
    
}
form > div{
    margin-bottom: 10px;
}

.right{
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
}

.left{
    padding: 10px 15px 10px 15px;
    background-color: #5863F8;
}
.arrows{
    display: flex;
    position: relative;
    z-index: 4;
    top: -100px;
    left: 357px
   
}
label{
    display: block;
    cursor: pointer;
}
.menu{
    text-align: center;
    width:100%;
    display: none;
}
.menu a{
    display: block;
    border-bottom: 1px solid #eee;
    margin: 0;
}
#toggle:checked + .menu {
    display: block;
}

/* about page */
.text-about-top{
    color: white;
    margin-top: 30px;
}



footer{
    background-color: black;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: -10px;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    box-sizing: border-box;
}
.main-footer{
    width: 98%
}
.main-footer p{
    font-size: 13px;
}
.socials{
    display: flex;
}
.fa-facebook{
    background-color: #5863F8;
    margin-right: 20px;
    padding: 25px 28px;
    border-radius: 50%;
    margin-top: 20px;
}
.use-links li{
    list-style-type: none;
}
.use-links a{
    text-decoration: none;
    color: #5863F8
}
.use-links{
    width: 98% !important;
}

.p{
    width: 100% !important;
}
.last{
    text-align: center;
    font-size: 12px;
    padding:10px;
}


}